/* #region General Settings */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-color: orangered;
  --secondary-color: orange;
  --text-color: #444;
  --bg-color: #eeeff2;
  --white: #fff;
  --bg-secondary: purple;
}

/* #endregion */
/* General Settings */

/* #region header */
header {
  display: flex;
  flex-direction: row;
  width: 100%;
  background-color: var(--white);
  position: fixed;
  top: 0;
  z-index: 5;
}
nav {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
nav > img {
  width: 50px;
}
nav ul {
  display: flex;
}
nav ul li {
  list-style-type: none;
  margin: 0 10px;
}
.buttons button {
  border: none;
  padding: 10px;
  border-radius: 15px;
  background-color: var(--main-color);
  color: var(--white);
  margin: 0 5px;
  transition: 0.3s;
}
.buttons button:hover {
  background-color: var(--bg-secondary);
}
/* #endregion */
/* header*/

/* #region section */
section {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  background-image: url(img/main.jpg);
  background-position: 50%;
  height: 100vh;
  align-items: center;
  position: relative;
}
.section-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  margin-left: 20px;
}
.section-text > h1 {
  font-size: 4rem;
}
.section-text > h1 > span {
  color: var(--main-color);
}
.store-img img {
  width: 100px;
}
.section-text > p {
  font-size: 16px;
  line-height: 1.5;
  margin: 1rem auto;
}
section > form {
  display: flex;
  background-color: var(--white);
  padding: 5px;
  align-items: center;
  position: absolute;
  bottom: 50px;
  left: 20px;
  justify-content: center;
  box-shadow: 10px 0 20px -10px rgba(0, 0, 0, 0.5);
}
section > form > .input-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 5px;
}
section > form > .input-box > input {
  border: 1px solid black;
  outline: none;
  padding: 5px;
  border-radius: 10px;
  width: 100%;
}
section > form > .input-box button {
  background-color: var(--main-color);
  color: var(--white);
  border: none;
  border-radius: 10px;
  padding: 0.5rem 2rem;
  margin-top: 20px;
}
section > form > .input-box button:hover {
  background-color: var(--bg-secondary);
  cursor: pointer;
  transition: 0.3s;
}

/* #endregion */
/* section*/

/*#region rent-step*/
.rent-step {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.heading {
  background-color: var(--bg-color);
  text-align: center;
  padding: 5px 0;
  line-height: 1.3;
}
.heading h2 {
  color: var(--main-color);
  font-size: 16px;
}
.heading h1 {
  font-size: 25px;
}
.step-boxes {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 0;
}
.step-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 15px 0;
}
.step-box > i {
  font-size: 18px;
  padding: 10px;
  background-color: var(--bg-color);
  color: var(--main-color);
  border-radius: 50%;
}
.step-box > i:hover {
  background-color: var(--bg-secondary);
  color: var(--white);
  scale: 1.02;
  transition: 0.3s;
}
.step-box > p {
  text-align: center;
  margin-top: 1rem;
}
/* #endregion */
/* rent-step*/

/* #region services-car*/
.services-car {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 10px;
  gap: 1rem;
}
.car-cart {
  display: flex;
  flex-direction: column;
}
.car-cart:hover {
  scale: 1.02;
  cursor: pointer;
}
.car-cart > div {
  width: 100%;
  height: 300px;
}
.car-cart > div > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.car-cart > p {
  width: 60px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 10px;
  margin: 5px 0;
}
.car-cart > h2 > span {
  color: var(--main-color);
}
.car-cart > button {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: var(--bg-secondary);
  color: var(--white);
  border-radius: 10px;
}
.car-cart > button:hover {
  background-color: var(--main-color);
  transition: 0.3s;
}
/* #endregion */
/* services-car*/

/*#region about*/
.about {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 10px;
}
.about-us {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
}
.about-us img {
  width: 100%;
}
.about-text {
  line-height: 1.5;
  font-style: italic;
}
.about-text > button {
  width: 150px;
  background-color: var(--bg-secondary);
  color: var(--white);
  padding: 8px;
  border: none;
  border-radius: 10px;
  margin-top: 10px;
}
.about-text > button:hover {
  background-color: var(--main-color);
  transform: 0.3s;
}
/* #endregion */
/* about*/

/*#region reviews*/
.reviews {
  display: flex;
  flex-direction: column;
}
.persons {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 10px 0;
}
.persons > .person-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  line-height: 1.6;
  gap: 2;
}
.persons > .person-box > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.stars i {
  color: var(--main-color);
}
/* #endregion */
/* reviews*/

/*#region newsletter*/
.newsletter {
  margin-top: 40px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--main-color);
}
.news-box {
  width: 50%;
  background-color: var(--white);
  border-radius: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.newsletter > .news-box > input {
  border: none;
  outline: none;
  margin: 10px;
  background-color: rgba(128, 128, 128, 0.331);
  width: 60%;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
}
.newsletter > .news-box > button {
  padding: 5px;
  background-color: var(--bg-secondary);
  color: var(--white);
  border-radius: 10px;
  width: 70%;
}
/* #endregion */
/* newsletter*/

/*#region footer*/
footer {
  width: 100%;
  padding: 10px;
  background-color: green;
  color: var(--white);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
footer > p > span {
  font-style: italic;
}
footer > .social > i {
  font-size: 15px;
  margin: 0 5px;
  cursor: pointer;
}
footer > .social > i:hover {
  color: var(--main-color);
  transition: 0.3s;
}
/* #endregion */
/* footer */

@media screen and (max-width: 600px) {
  nav {
    flex-direction: column;
    padding: 1rem 0;
  }

  /* #region section */
  section {
    margin-top: 8.5rem;
    height: auto;
    border-bottom: solid 2px var(--main-color);
  }
  section > form {
    flex-direction: column;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(5px);
    border-radius: 0.475rem;
  }
  /* #endregion */
  /* section*/
}
